:root {
    /* rainbow color */
    --soft-primary: #84D187;
    --primary: #00B207;
    --hard-primary: #2C742F;
    --waring: #FF8A00;
    --danger: #EA4B48;
    --white: #FFF;

    /* grey color */
    --grey-nine: #1A1A1A;
    --grey-eigth: #333333;
    --grey-seven: #4D4D4D;
    --grey-six: #666666;
    --grey-five: #808080;
    --grey-four: #999999;
    --grey-three: #B3B3B3;
    --grey-two: #CCCCCC;
    --grey-one: #E6E6E6;
    --grey-zero: #F2F2F2;

    /* green gray color */
    --green-nine: #002603;
    --green-eigth: #173B1A;
    --green-seven: #2B572E;
    --green-six: #406B42;
    --green-five: #618062;
    --green-four: #7A997C;
    --green-three: #96B297;
    --green-two: #B4CCB4;
    --green-one: #DAE5DA;
    --green-zero: #EDF2EE;

    /* fonts size */
    --display-one: 72px;
    --heading-one: 56px;
    --heading-two: 48px;
    --heading-three: 40px;
    --heading-four: 36px;
    --heading-five: 32px;

    --body-xxl: 24px;
    --body-xl: 20px;
    --body-large: 18px;
    --body-medium: 16px;
    --body-small: 14px;
    --body-tiny: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
    margin-left: 300px;
    margin-right: 300px;
}

.header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

/* SMALLONE */
.smallOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
}

/* ADDRES */
.addres {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.locate {
    color: var(--grey-six);
    font-size: var(--body-tiny);
    font-weight: 400;
}

/* HeaderContainer */
.headerContainer {
    display: flex;
    align-items: center;
    gap: .8rem;
}

/* region */

.region {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.lang {
    color: var(--grey-six);
    font-size: var(--body-tiny);
    font-weight: 400;
    cursor: pointer;
}

.currency {
    color: var(--grey-six);
    font-size: var(--body-tiny);
    font-weight: 400;
    cursor: pointer;
}

/* bettwen Line */
.line {
    width: 1px;
    height: 15px;
    color: #E6E6E6;
}

/* Link form */
.regForm {
    display: flex;
    gap: .4rem;
    align-items: center;
}

.singIn {
    color: var(--grey-six);
    font-size: var(--body-tiny);
    font-weight: 400;
    line-height: 130%;
    text-decoration: none;
}

.singUp {
    color: var(--grey-six);
    font-size: var(--body-tiny);
    font-weight: 400;
    line-height: 130%;
    text-decoration: none;
}

/* BIGLINE */
.bigLine {
    position: absolute;
    left: 0;
    top: 34px;
    width: 1918px;
    border-top: 0px;
    border-width: .4px;
    border-color: var(--grey-two);
}

/* SLASh between sing up & sing in */
.slash {
    color: var(--grey-six);
}


/* MIDDLE */
.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93px;
}

.logo {
    display: flex;
    gap: .8rem;
    align-items: center;
}

#logo {
    width: 32px;
}

.logoName {
    color: var(--green-nine);
    font-size: var(--heading-five);
    font-weight: 500;
    line-height: 38px; /* 118.75% */
    letter-spacing: -0.96px;
}

/* Search */
.search {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 400px;
    padding: 12px 18px 12px 16px;
    border: .4px solid var(--grey-two);
    border-radius: 10px;
}

#searchSvg {
    width: 20px;
}

/* input search */
.searchClick {
    border: none;
    width: 80%;

    color: var(--grey-five);
    font-size: 15px;
}

.searchClick:focus{
    outline: none;
    border-color: transparent;
}

.buttonBox {
    position: absolute;

    border-radius: 0px 6px 6px 0px;
    background: var(--Branding-Success, #00B207);

    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    right: 0px;
}

.buttonSearch {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    line-height: 120%; /* 16.8px */

    text-decoration: none;
}

/* BASKET */
.basket {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}

.imgs {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* Imgs size */
#heart {
    width: 32px;
}

.cart {
    
    width: 32px;
    height: 32px;
}

.greenCircle {
    position: absolute;
    top: 0;
    left: 82px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--hard-primary);

    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px; /* 100% */
}

.horizontalLine {
    transform: rotate(90deg);
    width: 24px;
    border-top: 0px;
    border-width: .2px;
    border-color: var(--grey-two);
}

.total{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.shoppingCost {
    color: var(--grey-seven);
    font-size: 11px;
    font-weight: 400;
    line-height: 120%; /* 13.2px */
}

.cost {
    color: var(--grey-nine);
    font-size: 14px;
    font-weight: 500;
    line-height: 100%; /* 14px */
}